langchain==0.2.16
langchain-community==0.2.16
langchain-groq==0.1.9
llama-index==0.10.68
llama-index-llms-groq==0.1.4
streamlit==1.38.0
pypdf==4.3.1
faiss-cpu==1.8.0
python-dotenv==1.0.1
tiktoken==0.7.0
sentence-transformers==3.1.1